@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

a.active hr{
    display: block;
}
*{
    font-family: outfit;
    /* padding: 1px; */
}
.prata-regular {
    font-amily: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  ::-webkit-scrollbar{
    display:none;
  }

  @media(max-width:640px){
    a.active{
        background-color: black;
        color: white;
    }
  }

  @keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.2s ease-out;
}

  